################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.idea
/.vs
/C-Sharp_Weather_API_Library/.vs/C-Sharp_Weather_API_Library
/C-Sharp_Weather_API_Library/obj
/C-Sharp_Weather_API_Library/C-Sharp_Weather_API_Library.sln
/C-Sharp_Weather_API_Library/C-Sharp_Weather_API_Library.csproj
/C-Sharp_Weather_API_Library/bin/Debug/net8.0
/C-Sharp_Weather_API_Library/.vs/ProjectEvaluation
/C_Weather_API_Library
